*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: "YatraOne";
    src: url(./font/YatraOne-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(./font/Ubuntu-Regular.ttf);

}

.page-m {
    background: url(./image/table.jpg) center/cover;
    color: white;
    height: 500px;
}

.page-m .titre{
    text-align: center;
    font-size: 5rem;
    padding: 100px;
}

h2, h1, h3
{
    font-family: YatraOne;
}

p
{
    font-family: Ubuntu;
}

.menu
{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.menu a
{
    color: white;
    font-size: 1,5rem;
}


.menu li.acceuil:hover
{
    background: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li.a-propos:hover
{
    background: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li.carte:hover
{
    background-color: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li.contact:hover
{
    background-color: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li
{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.445);
    border: 3px solid white;
}

.informations h1
{
    text-align: center;
    font-size: 3rem;
}

.cocktails
{
display: flex;
justify-content: space-around;
color: white;
background: rgb(65, 62, 55);
padding: 30px;
border-bottom: 1px solid white;
}

.nos-cocktails
{
   justify-content: center;
   text-align: center;
   text-decoration: underline;
   
}

.verres
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.des1
{
    padding: 20px;
    border: 4px double rgb(141, 128, 85);
}

a
{
    color: white;
}

.plat
{
    display: flex;
justify-content: space-around;
color: white;
background: rgb(65, 62, 55);
padding: 30px;
min-height: 300px;
border-bottom: 1px solid white;

}

.dessert
{
    padding: 5px;
    border: 4px double rgb(141, 128, 85);

}
.p
{
    margin-bottom: 30px;
   
    padding: 20px;
}

.d
{
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}

.principal
{
border: 4px double rgb(141, 128, 85);
}

.Plats
{
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    text-decoration: underline;
}

footer
{
    height: 800px;
}

.map
{
    background: white;
    display: flex;
    padding: 100px;

}

.map i
{
    margin: 20px;
    font-size: 0,5rem;
    
}

.map h1
{
    text-align: center;
    justify-content: center;
}

.map .informations
{
    background: rgb(141, 91, 91);
    color: white;
    margin-top: 90px;
    margin-left: -200px;
    height: 350px;
    width: 400px;
}

.map img
{
    width: 90%;
}


@media screen and (max-width: 1070px) {
    .principal
    {
        padding: 5px;
        border: none;
       
    }
    .des1
    {
        font-size: 20px;
        border: none;
    }

    .dessert
    {
        font-size: 18px;
        border: none;
    }
}

@media screen and (max-width: 900px) {
.p
{
    font-size: 12px;
}
}

@media screen and (max-width: 800px) {
        .menu a{

font-size: 14px;


    }
    .menu{
        padding: 20px;
        
    }

    .page-m .titre
    {
        font-size: 3rem;
    }

    .menu li
    {
        width: 80px;
        height: 40px
    }
    
}
@media screen and (max-width: 700px) {
    .menu li
    {
        border: none;
        background: none;
    }
    
    .page-m
    {
        height: 300px;
    }

    .page-m .titre
    {
        font-size: 2rem;
        padding: 50px;
        
    }
}
   
@media screen and (max-width: 510px) {
   #crumble, #dragon-ball, #Blue-Morjitos, #Negroni
   {
    width: 150px;
   }
}
   

 @media screen and (max-width: 400px) {
    .menu a
    {
        font-size: 9px;
    }

    h2
    {
        font-size: 2rem;
        padding-top: 20px;
    }

    #crumble, #dragon-ball, #Blue-Morjitos, #Negroni
    {
     width: 100px;
    }

}
